@font-face {
    font-family: minecraft;
    src: url(./fonts/fonts.ttf);
}

*{
    font-family: minecraft, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    
}


.tablegenerator{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 50px;
    height: 200px;
}


.forms{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
    align-items: center;
    text-align: center;

}

.forms input{
    height: 50px;
    align-items: center ;
    text-align: center;
    font-size: 30px;
    
}

#btn{
    background-color: black;
    color: white;
    padding: 20px;
    align-items: center;
    text-align: center;
    align-content: center;
    display: flex;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}

#btn:hover{
    background-color: white;
    color: black;
}


.tablearea{
    background-color: rgb(247, 247, 247);
    height: 900px;
    max-height: 2000px;
    margin-top: 50px;
    border: 10px solid black;
    margin: 30px;
    padding: 10px;
}






