@font-face {
    font-family: minecraft;
    src: url(./fonts/fonts.ttf);
}

* {
    font-family: minecraft, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);

}



.tablegenerator {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 70px;
    height: 200px;
}
.tablegenerator p{
    text-align: center;
}

.forms {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
    text-align: center;
}

.forms input {
    height: 50px;
    text-align: center;
    font-size: 30px;
}

#btn {
    background-color: black;
    color: white;
    padding: 20px;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}

#btn:hover {
    background-color: white;
    color: black;
}

/* Table container */
.tablearea {
    background-color: rgb(247, 247, 247);
    height: auto;
    max-height: 900px;
    max-width: 100%;
    margin-top: 50px;
    border: 10px solid black;
    padding: 10px;
    overflow-x: auto; /* Allow horizontal scroll */
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .forms {
        flex-direction: column;
        gap: 20px;
    }

    .tablegenerator {
        font-size: 50px;
    }

    .forms input {
        font-size: 20px;
        height: 40px;
        max-width: 100%;
    }

    #btn {
        padding: 15px;
        font-size: 20px;
    }
}
